# üêº Esercizi Pratici con Pandas

Esegui le operazioni richieste nelle celle di codice sottostanti.

### 1. Esplorazione Iniziale
* Visualizza le prime **5 righe** del DataFrame (`head()`).
* Mostra le informazioni generali (`info()`) per vedere i tipi di dati e dove mancano valori.
* Ottieni le statistiche descrittive (media, min, max, ecc.) solo per le colonne numeriche (`describe()`).

### 2. Pulizia e Accesso alle Colonne
* I nomi delle colonne hanno spazi (es. `'Product Name'`). Rinominali sostituendo gli spazi con underscore `_` (es. `'Product_Name'`) per facilitare l'accesso con la *dot notation*.
* Seleziona solo la colonna `Product_Name` e visualizzala.
* Seleziona le colonne `Category` e `Price` contemporaneamente.

### 3. Selezione con `iloc` e `loc`
* Usa `iloc` per selezionare la **terza riga** (quella del "Monitor").
* Usa `iloc` per selezionare le righe dalla **seconda alla quinta** (esclusa).
* Imposta la colonna `Product_ID` come indice del DataFrame (`df = df.set_index('Product_ID')`). Ora usa `loc` per selezionare il prodotto con **ID 105**.

### 4. Filtrare i Dati (Boolean Indexing)
* Trova tutti i prodotti che costano **pi√π di 100 euro**.
* Trova tutti i prodotti che appartengono alla categoria `'Accessories'`.
* **Condizione Multipla**: Trova i prodotti che sono `'Electronics'` **E** (`&`) hanno un Rating superiore a **4.5**.

### 5. Gestione Valori Mancanti (`notna`)
* Alcuni prodotti non hanno il prezzo (`Price` √® NaN). Filtra il DataFrame per mostrare solo le righe dove il `Price` **NON** √® nullo.
* Trova i prodotti che hanno un prezzo valido **MA** non hanno un rating (`Rating` √® nullo).

In [3]:
import pandas as pd
import numpy as np

data = {
    'Product_ID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Product Name': ['Laptop', 'Mouse', 'Monitor', 'Keyboard', 'Smartphone', 'Tablet', 'Webcam', 'Headphones'],
    'Category': ['Electronics', 'Accessories', 'Electronics', 'Accessories', 'Electronics', 'Electronics', 'Accessories', 'Accessories'],
    'Price': [1200.50, 25.99, 300.00, 45.50, 800.00, None, 55.00, 89.90],
    'Stock Quantity': [50, 200, 30, 150, 80, 40, 0, 100],
    'Rating': [4.8, 4.2, 4.5, 4.0, 4.7, 4.3, 3.8, None]
}

df = pd.DataFrame(data)

In [34]:
#1
df.head()
df.info()
df.describe()
#2
df.columns=df.columns.str.replace(" ", "_")
df["Product_Name"]
df[["Category", "Price"]]
#3
df.iloc[2]
df.iloc[2:5]
df=df.set_index(df["Product_ID"])
df.loc[105]
#4
df[df["Price"]>100]
df[df["Category"]=="Accessories"]
df[(df["Category"]=="Electronics") & (df["Rating"]>4.5)]
#5
df[df["Price"].notna()]
df[(df["Price"].notna())&(df["Rating"].isna())]

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 101 to 108
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product_ID      8 non-null      int64
 1   Product_Name    8 non-null      object
 2   Category        8 non-null      object
 3   Price           7 non-null      float64
 4   Stock_Quantity  8 non-null      int64
 5   Rating          7 non-null      float64
dtypes: float64(2), int64(2), object(2)
memory usage: 748.0+ bytes

,Product_ID,Product_Name,Category,Price,Stock_Quantity,Rating
Product_ID,,,,,,
108,108,Headphones,Accessories,89.9,100,NaN

# üêº Esercizi di Pratica: Engineering Jobs Dataset

Utilizza il dataset `Engineering_Jobs_Insight_Dataset` gi√† visto a lezione. Assicurati di aver importato `pandas` e caricato i dati nella variabile `df`.

---

### üü¢ Esercizio 1: Caricamento e Pulizia Iniziale
1. **Rinomina le colonne**: Assicurati che tutte le colonne non abbiano spazi nei nomi (sostituiscili con `_`, es. "Job Title" -> "Job_Title").
2. **Controllo valori nulli**: Conta quanti dati mancanti (`NaN`) ci sono per ogni colonna.
3. **Eliminazione**: Se la colonna `URL` esiste, eliminala dal DataFrame per fare pulizia.

### üü° Esercizio 2: Filtri e Stringhe
1. **Normalizzazione**: Crea una copia della colonna `Job_Title` trasformando tutto il testo in minuscolo (lowercase).
2. **Filtro Avanzato**: Trova tutte le righe in cui il titolo di lavoro contiene la parola `"data"` **OPPURE** la parola `"analyst"`.
   * *Suggerimento: usa i metodi delle stringhe `.str.contains()` combinati con l'operatore logico `|` (OR).*
3. **Conteggio**: Quanti job posting soddisfano questo criterio?

### üü† Esercizio 3: Analisi Temporale
1. **Conversione**: Converti la colonna `Date_Posted` in formato `datetime` (se non lo √® gi√†).
2. **Feature Engineering**: Crea una nuova colonna chiamata `Month_Name` che contenga il nome del mese di pubblicazione (es. "January", "February").
3. **Analisi**: Qual √® il mese con il maggior numero di offerte di lavoro pubblicate? Usa `value_counts()` per scoprirlo.

### üî¥ Esercizio 4: Statistiche e Raggruppamenti (Groupby)
1. **Aggregazione**: Raggruppa i dati per `Job_Title`.
2. **Calcolo**: Per ogni titolo di lavoro, calcola:
   - Lo stipendio minimo **medio** (`Salary_Min`).
   - Il numero di offerte (il conteggio delle righe).
3. **Ordinamento**: Mostra i 5 lavori (`Job_Title`) con lo stipendio medio pi√π alto.
   * *Attenzione: potresti dover ordinare i valori in modo decrescente (`ascending=False`).*

---
**Bonus Challenge** üöÄ:
Prova a creare un filtro che selezioni solo i lavori "Senior" (che contengono la parola 'Senior' nel titolo) e che abbiano un `Salary_Min` superiore alla media generale di tutti gli stipendi del dataset.

In [ ]:
import pandas as pd
from datasets import load_dataset
dataset=load_dataset("yiqing111/Engineering_Jobs_Insight_Dataset")
df=dataset["train"].to_pandas()
df.columns=df.columns.str.replace(" ", "_")
df.drop("URL", axis=1, inplace=True)
df.isna().sum()

Repo card metadata block was not found. Setting CardData to empty.

Job_Title      0
Company        4
Description    0
Location       0
Salary_Min     0
Salary_Max     6
Date_Posted    0
dtype: int64