# PARTE 1: NumPy Deep Dive
In questa sezione esploreremo indicizzazione, slicing e filtri condizionali.

In [39]:
import numpy as np

# Setup per riproducibilità
#np.random.seed(42)

# ESERCIZIO 1: Matrici 2D
# Creiamo una matrice 5x5 con numeri da 1 a 25
matrice = np.arange(1, 26).reshape(5, 5)

# ESERCIZIO 2: Dati Casuali per Filtri
# 50 voti casuali tra 10 e 30
voti = np.random.randint(10,31,50)

# ESERCIZIO 3: Operazioni Matematiche
# Prezzi in dollari di 5 prodotti
prezzi_usd = np.array([19.99, 5.50, 12.00, 150.00, 99.99])
# Tasso di cambio
tasso_cambio = 0.92

### Esercizi NumPy

**Esercizio 1.1: Slicing (Sulla variabile `matrice`)**
1. Seleziona l'elemento centrale della matrice (il numero 13).
2. Seleziona l'intera seconda riga.
3. Seleziona il sottomodulo 3x3 nell'angolo in basso a destra (dal 13 al 25).

**Esercizio 1.2: Filtri Booleani (Sulla variabile `voti`)**
1. Trova quanti studenti hanno preso un voto sufficiente (>= 18).
2. Calcola la media solo dei voti sufficienti.
3. Sostituisci tutti i voti sotto il 18 con il valore 0 (bocciato).

**Esercizio 1.3: Broadcasting (Sulle variabili `prezzi_usd`)**
1. Crea un nuovo array `prezzi_eur` convertendo i prezzi in Euro.
2. Applica uno sconto del 20% a tutti i prezzi in Euro che superano i 50€.

In [ ]:
print(matrice)
elementoCentrale=matrice[int(np.size(matrice,axis=0,)/2),int(np.size(matrice,axis=1)/2)]
print(elementoCentrale)
secondaRiga=matrice[1,:]
print(secondaRiga)
sottomodulo=matrice[-3:,-3:]
print(sottomodulo)

In [ ]:
print(voti)
totSufficenti=np.sum(voti>=18)
print(totSufficenti)
mediaSufficenti=np.mean(voti[voti>=18])
print(mediaSufficenti)
voti[voti<18]=0
print(voti)

In [ ]:
prezzi_eur=prezzi_usd*tasso_cambio
print(prezzi_eur)
prezzi_eur[prezzi_eur>50]*=0.8
print(prezzi_eur)

In [52]:
import pandas as pd

data_case = {
    'Quartiere': ['Centro', 'Periferia', 'Centro', 'Collina', 'Periferia', 'Centro', 'Collina', 'Periferia'],
    'Prezzo': [350000, 120000, np.nan, 450000, 110000, 320000, 500000, 'Non disponibile'],
    'Metri_Quadri': [80, 95, 70, 120, 90, 75, 130, 85],
    'Data_Vendita': ['2023-01-10', '2023/02/15', '2023-03-01', '12-05-2023', '2023-06-10', '2023-01-20', '2023-04-05', '2023-07-01']
}

df_case = pd.DataFrame(data_case)
df_case

   Quartiere           Prezzo  Metri_Quadri Data_Vendita
0     Centro           350000            80   2023-01-10
1  Periferia           120000            95   2023/02/15
2     Centro              NaN            70   2023-03-01
3    Collina           450000           120   12-05-2023
4  Periferia           110000            90   2023-06-10
5     Centro           320000            75   2023-01-20
6    Collina           500000           130   2023-04-05
7  Periferia  Non disponibile            85   2023-07-01

### Esercizi Pandas Manipulation

**1. Pulizia Dati (Cleaning)**
* La colonna `Prezzo` è "sporca" (contiene stringhe). Convertila in numerico, trasformando gli errori in `NaN`.
* Riempi i valori mancanti (`NaN`) del Prezzo con la media dei prezzi disponibili.
* Converti `Data_Vendita` in formato datetime (gestendo i formati misti).

**2. Feature Engineering (Nuove Colonne)**
* Crea una colonna `Prezzo_mq` (Prezzo / Metri_Quadri).
* Crea una colonna booleana `Lusso`: vale `True` se il prezzo è > 400.000, altrimenti `False`.

**3. Selezione Dati (Indexing)**
* Usa `.loc` per selezionare solo le case nel quartiere "Centro".
* Usa `.iloc` per selezionare le righe dalla 2 alla 5 (esclusa) e solo le prime 2 colonne.

In [63]:
df_case["Prezzo"]=pd.to_numeric(df_case["Prezzo"],errors='coerce')
mediaPrezzo=df_case["Prezzo"].mean()
df_case['Prezzo']=df_case['Prezzo'].fillna(mediaPrezzo)
df_case['Data_Vendita']=pd.to_datetime(df_case['Data_Vendita'], format='mixed')
df_case['Prezzo_mq']=df_case['Prezzo']/df_case['Metri_Quadri']
df_case['Lusso']=df_case['Prezzo']>400000
centro= df_case.loc[df_case['Quartiere']=='Centro']
print(centro)
df_case

  Quartiere         Prezzo  Metri_Quadri Data_Vendita    Prezzo_mq  Lusso
0    Centro  350000.000000            80   2023-01-10  4375.000000  False
2    Centro  308333.333333            70   2023-03-01  4404.761905  False
5    Centro  320000.000000            75   2023-01-20  4266.666667  False

   Quartiere         Prezzo  Metri_Quadri Data_Vendita    Prezzo_mq  Lusso
0     Centro  350000.000000            80   2023-01-10  4375.000000  False
1  Periferia  120000.000000            95   2023-02-15  1263.157895  False
2     Centro  308333.333333            70   2023-03-01  4404.761905  False
3    Collina  450000.000000           120   2023-12-05  3750.000000   True
4  Periferia  110000.000000            90   2023-06-10  1222.222222  False
5     Centro  320000.000000            75   2023-01-20  4266.666667  False
6    Collina  500000.000000           130   2023-04-05  3846.153846   True
7  Periferia  308333.333333            85   2023-07-01  3627.450980  False

### Esercizi Analisi

**1. Statistiche per Gruppo**
* Raggruppa le case per `Quartiere`.
* Per ogni quartiere, calcola: il prezzo medio e la dimensione media (`Metri_Quadri`).
* Conta quante case sono state vendute in ogni quartiere.

**2. Aggregazione Multipla**
* Usa il metodo `.agg()` per calcolare contemporaneamente il prezzo Minimo, Massimo e Medio per ogni quartiere.

In [7]:
import matplotlib.pyplot as plt

# Dati per le funzioni matematiche
x = np.linspace(0, 10, 100)
y_sin = np.sin(x)
y_cos = np.cos(x)

### Esercizi Grafici

**1. Subplots (Grafici Multipli)**
Crea una figura che contiene **2 grafici** (uno sopra l'altro):
* Grafico 1: La funzione Seno (linea blu). Aggiungi titolo "Seno".
* Grafico 2: La funzione Coseno (linea rossa tratteggiata). Aggiungi titolo "Coseno".

**2. Scatter Plot (Correlazione)**
Usa il `df_case`:
* Crea un grafico a dispersione (Scatter) dove:
    * Asse X = Metri Quadri
    * Asse Y = Prezzo
* Aggiungi titolo ed etichette agli assi.
* (Opzionale) Prova a colorare i punti in base al Quartiere (usa un loop o `seaborn` se lo conosci, altrimenti fai plot separati).

# MODULO 5: Simulazione Esame (Curve Fit Quadratico)

**Problema:**
Hai dati sperimentali che seguono una traiettoria parabolica: $y = ax^2 + bx + c$.
Devi trovare i coefficienti e l'errore associato.

**Compiti:**
1.  Definisci la funzione modello `parabola(x, a, b, c)`.
2.  Usa `curve_fit` per stimare $a, b, c$.
3.  Calcola l'**errore standard** per il parametro $a$ (radice quadrata dell'elemento [0,0] della covarianza).
4.  Plotta i dati (scatter) e la curva fittata (linea).

In [9]:
np.random.seed(99)
x_exam = np.linspace(-5, 5, 30)
# Modello vero: a=2, b=-3, c=5
y_exam = 2 * x_exam**2 - 3 * x_exam + 5 + np.random.normal(0, 4, size=len(x_exam))

def parabola(x, a, b, c):
    return a * x**2 + b * x + c

**Compiti:**
1. Stima i parametri $a, b, c$ usando `curve_fit`.
2. Stampa i parametri trovati.
3. Calcola l'errore standard solo per il parametro $a$ (radice della varianza).
4. Plotta i dati originali e la parabola fittata.